<main id="resume">
  <div id="contact-information"><!-- Contact Information -->
    <h1>
      Liying Guo<!-- Full Name -->
    </h1>
    <div id="contact-list">
      <div><a href="mailto:lilying66@gmail.com">lilying66&#64;gmail.com</a></div><!-- Email -->
      <div><a href="tel:3432027007">(343)202-7007</a></div><!-- Phone Number -->
      <div><a href="https://github.com/LiyingOttawa">Github</a></div><!-- Github -->
    </div>
  </div>
  <br>
  <div id="summary">
    <h2>
      SUMMARY
    </h2>
    <hr>
    <p><!-- the following is my Summary or Objective -->
      Experienced Software Development in school.
      Looking for a java developer position to polish my skills on IT fields.
    </p>
  </div>
  <br>
  <div id="experiences">
    <h2>EXPERIENCES</h2>
    <hr>
    <div id="experience1">
      <!-- experience1, right now I dont have IT job experience. I put my academic experience here-->
      <div class="subtitle">
        <h3>Developer</h3><!-- the job title, the company -->
        <h3>May 2023 - Present</h3><!-- the date starting the experience -->
      </div>
      <h3>Algoquin College - Ottawa, ON</h3><!-- the company name, location -->
      <ul>
        <!-- brief description of your responsibilities, accomplishments, and
          any relevant achievements for each role,
          technical and soft skills relevant to your field is bolded-->
        <li>
          Designed application with <b> OOD</b> methodologies
          including <b>Class diagram</b>, <b>flow chart</b>.
        </li>
        <li>
          Developed <b>Java</b> applications,
          wrote <b>Junit</b> tests for automation testing.
        </li>
        <li>
          Developed web applications with
          <b>HTML5</b>, <b>CSS3</b> and <b>JavaScript</b>
        </li>
        <li>
          Developed <b>MS Access</b> Form applications
          with <b>Macro</b> and <b>VBA</b>
        </li>
        <li>
          Designed and implemented database for multiple projects.
          Delivered conceptual database model,
          logical database model and physical database model.
          Wrote <b>SQL (DDL, DML)</b> for database.
          Used <b>T-SQL</b> to write functions,stored procedures,
          and triggers on database.
        </li>
      </ul>
    </div>
  </div>
  <div id="skills">
    <h2>SKILLS</h2> <!-- soft skills -->
    <hr>
    <p><b>Programming Language:</b>Java, JavaScript, SQL, PHP</p>
    <p><b>Web Development:</b>HTML5, CSS3, Bootstrap</p>
    <p><b>Framework:</b>JUnit</p>
    <p><b>Database:</b>MySQL, MS Access, MS SQL Server, MongoDB</p>
    <p><b>Concept:</b>OOD, OOP, Git flow, Agile</p>
    <p><b>Misc:</b>Git, Eclipse IDE</p>
  </div>
  <div id="education"> <!-- Education -->
    <h2>EDUCATION</h2>
    <hr>
    <div id="education1">
      <div class="subtitle">
        <h3>Computer Program, Diploma</h3>
        <h3>May 2023 - Present</h3>
      </div>
      <h3>Algoquin College - Ottawa, ON.</h3>
      <p>GPA: <b>3.99</b></p>
    </div>
  </div>
</main>