/* header */
 /*** header will display my phone number and email for other people to contact me directly
    *list them horizontally
    *set padding to display some space  */
    header {
        background-color: white;
        display: flex;
        padding: 0.5em;
        justify-content: start;
    }

     /*** header has link to make phone call or email
        *remove underline fron link  */
    header a{
        padding: 0.5em;
        text-decoration: none;
        color:black;
    }