<main id="myInformation">
  <section class="row">
    <div id="myInfoLeft"
         class="col">
      <div id="profileImage">
        <img src="../../../assets/imgs/profile.jpg"
             alt="profile image"><!-- picture of me -->
      </div>
      <div>
        <h2>Liying <br> Guo</h2>
      </div>
      <div>
        <p>SOFTWARE DEVELOPER</p>
      </div>
    </div>
    <div id="myInfoRight"
         class="col">
      <h2>Hello</h2>
      <h3>Here's who I am & what I do</h3>
      <p>My interests encompass painting, cooking, and online shopping, but my true passion lies in
        <b>programming</b>.
        Working in a team environment is something I particularly enjoy, and I find the continuous challenges in
        programming to be truly fantastic.
      </p><!-- description of yourself -->
      <p>
        I am currently studying in
        <a href="https://www.algonquincollege.com/">Algoquin
          College</a>.<!-- information about the college, and a link to your college. -->
      </p>
    </div>
  </section>
</main>